<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title }} | iRepair Buffalo</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  
  <div class="top-bar">
    <div class="container">
      <center>BOOKING NOW! AVAILABILITY: MON-FRI 12PM-7PM</center>
    </div>
  </div>

<header class="site-header">
  <div class="container header-flex">
    <div class="header-left">
      <a href="/" class="logo">
        <img src="/assets/images/logo.png" alt="iRepair Buffalo Logo">
      </a>
    </div>

    <nav class="header-right site-nav">
      <!-- REPAIRS: link + dropdown -->
      <div class="dropdown">
        <a href="/">REPAIRS↓</a>
        <div class="dropdown-content">
          <a href="/iphone-repair">iPhone Repair</a>
          <a href="/ipad-repair">iPad Repair</a>
          <a href="/mac-repair">Mac Repair</a>
          <a href="/mac-repair">PC Repair</a>
        </div>
      </div>

      <!-- DATA RECOVERY: normal link -->
      <a href="/data-recovery">DATA RECOVERY</a>

      <!-- INFORMATION: dropdown only -->
      <div class="dropdown">
        <span>INFORMATION↓</span>
        <div class="dropdown-content">
          <a href="/about">ABOUT</a>
          <a href="/faq">FAQ</a>
          <a href="/b2b">B2B</a>
          <a href="/warranty">WARRANTY</a>
        </div>
      </div>

      <!-- CONTACT: normal link -->
      <a href="/contact">CONTACT</a>
    </nav>
  </div>
</header>



  <main class="site-content container">
    {{ content | safe }}
  </main>

<footer class="site-footer">
  <div class="container footer-flex">
    <div class="footer-left">
      <p>iRepair Buffalo<br>
4140 Sheridan Drive, Suite 2<br>
Williamsville, New York 14221</p>
    </div>
    <div class="footer-right">
      CALL OR TEXT<br>
716.276.3219<br></p>
    </div>
  </div>
</footer>

</body>
</html>
