<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title }} | iRepair Buffalo</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <header class="site-header">
    <div class="container header-flex">
      <div class="header-left">
        <h1 class="logo"><a href="/">iRepair Buffalo</a></h1>
      </div>
      <nav class="header-right site-nav">
        <a href="/">Home</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact</a>
      </nav>
    </div>
  </header>


  <main class="site-content container">
    {{ content | safe }}
  </main>

<footer class="site-footer">
  <div class="container footer-flex">
    <div class="footer-left">
      <p>iRepair Buffalo<br>
4140 Sheridan Drive, Suite 2<br>
Williamsville, New York 14221</p>
    </div>
    <div class="footer-right">
      CALL OR TEXT<br>
716.276.3219<br></p>
<p><b>Business Hours</b><br>
Monday to Friday<br>
12:00 to 7:00</p>
    </div>
  </div>
</footer>

</body>
</html>
